<!-- ATmodel directive:  It tells that the Model that passes to view is type of Restaurant-->
@model IEnumerable<OdeToFood.Data.Models.Restaurant>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <div>
        There are @Model.Count() restaurants in the database.
        <!--Use Enumerable.Count(Model) if the model type is not declared, line 2-->
    </div>

    <ul>
        @foreach (var restaurant in Model)
        {
            <li>@restaurant.Name</li>
        }
    </ul>
</div>

